/*
This is a example options.css for the Cavendish Skin 
 */
  
#header #esslogo {
	/*background: url("../../images/c/c9/Logo.png") no-repeat scroll 0 0 transparent;*/
	background:url('../../images/c/c9/Logo.png') no-repeat scroll 0 0 transparent;
    width:294px;
	height:70px;
	margin:12px 130px 0 25px;
}

#header {
height: 4em;
}

#header h6 #mcshad {
	/* change this to the URL of your Logo */
    background: transparent url("../../images/mchelp.png") no-repeat;
	/* put in the width of you Logo */
	width: 248px;
	/* put in the height of you Logo */
    height: 62px;
    margin-left:auto;
    margin-right:270px;
}



#globalWrapper {
	min-width: 900px;
}
