/*
This is a example options.css for the Cavendish Skin 
 */
  
#header #esslogo {
	/*background: url("../../images/c/c9/Logo.png") no-repeat scroll 0 0 transparent;*/
	background:url('../../images/c/c9/Logo.png') no-repeat scroll 0 0 transparent;
	width:298px;
	height:70px;
	margin:12px 130px 0 25px;
	display: block;
	font-size: 0px;
}

#header {
height: 4em;
}

#header h6 #mcshad {
	/* change this to the URL of your Logo */
    background: transparent url("../../images/mchelp.png") no-repeat;
	/* put in the width of you Logo */
	width: 248px;
	/* put in the height of you Logo */
    height: 62px;
    margin-left:auto;
    margin-right:270px;
}



#globalWrapper {
	min-width: 900px;
}

.styled-buttoncontainer {
	display: inline-block;
	padding: 12px 20px;
	margin: 4px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#cccccc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#cccccc));
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.download-styled-logo {
	width: 180px;
	font-family: Arial;
	font-size: 22;
	font-weight: bold;
	color: rgb(51, 51, 51);
}

.buttons-inner {
	width: 100%;
}

.styled-button {
	margin: 0 5px 0 5px;
	float: left;
	padding: 12px 40px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-repeat: repeat-x;
	border-color: #003d70 #003d70 hsl(234, 92%, 37.5%);
	color: #333 !important;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.56);
	-webkit-font-smoothing: antialiased;
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	transition: 0.1s linear all;
	-moz-box-shadow:
		2px 5px 5px rgba(0, 0, 0, 0.5) inset,
		-5px 3px 5px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow:
		2px 5px 5px rgba(0, 0, 0, 0.5) inset,
		-5px 3px 5px rgba(0, 0, 0, 0.5) inset;
	box-shadow:
		2px 5px 5px rgba(0, 0, 0, 0.5) inset,
		-5px 3px 5px rgba(0, 0, 0, 0.5) inset;
	border: 1px solid #bbb;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.styled-button:hover{
	background-position: 0 -8px;
	text-decoration: none;
	cursor: pointer;
}

.styled-button:active{
	background-position: 0 -18px;
}

.styled-button-blue {
	background-color: #003d70;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0081ea", endColorstr="#003d70");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#0081ea), to(#003d70));
	background-image: -moz-linear-gradient(top, #0081ea, #003d70);
	background-image: -ms-linear-gradient(top, #0081ea, #003d70);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0081ea), color-stop(100%, #003d70));
	background-image: -webkit-linear-gradient(top, #0081ea, #003d70);
	background-image: -o-linear-gradient(top, #0081ea, #003d70);
	background-image: linear-gradient(#0081ea, #003d70);
}

.styled-button-red {
	background-color: #700009;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eb1313", endColorstr="#700009");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#eb1313), to(#700009));
	background-image: -moz-linear-gradient(top, #eb1313, #700009);
	background-image: -ms-linear-gradient(top, #eb1313, #700009);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb1313), color-stop(100%, #700009));
	background-image: -webkit-linear-gradient(top, #eb1313, #700009);
	background-image: -o-linear-gradient(top, #eb1313, #700009);
	background-image: linear-gradient(#eb1313, #700009);
}

.styled-button-green {
	background-color: #0c5a02;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#13eb3e", endColorstr="#0c5a02");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#13eb3e), to(#0c5a02));
	background-image: -moz-linear-gradient(top, #13eb3e, #0c5a02);
	background-image: -ms-linear-gradient(top, #13eb3e, #0c5a02);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #13eb3e), color-stop(100%, #0c5a02));
	background-image: -webkit-linear-gradient(top, #13eb3e, #0c5a02);
	background-image: -o-linear-gradient(top, #13eb3e, #0c5a02);
	background-image: linear-gradient(#13eb3e, #0c5a02);
}

.styled-button-yellow {
	background-color: #727c01;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5ff03", endColorstr="#727c01");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#f5ff03), to(#727c01));
	background-image: -moz-linear-gradient(top, #f5ff03, #727c01);
	background-image: -ms-linear-gradient(top, #f5ff03, #727c01);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5ff03), color-stop(100%, #727c01));
	background-image: -webkit-linear-gradient(top, #f5ff03, #727c01);
	background-image: -o-linear-gradient(top, #f5ff03, #727c01);
	background-image: linear-gradient(#f5ff03, #727c01);
}

.styled-button-orange {
	background-color: #7c4101;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb803", endColorstr="#7c4101");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ffb803), to(#7c4101));
	background-image: -moz-linear-gradient(top, #ffb803, #7c4101);
	background-image: -ms-linear-gradient(top, #ffb803, #7c4101);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb803), color-stop(100%, #7c4101));
	background-image: -webkit-linear-gradient(top, #ffb803, #7c4101);
	background-image: -o-linear-gradient(top, #ffb803, #7c4101);
	background-image: linear-gradient(#ffb803, #7c4101);
}

.styled-button-purple {
	background-color: #190370;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6b25ff", endColorstr="#190370");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#6b25ff), to(#190370));
	background-image: -moz-linear-gradient(top, #6b25ff, #190370);
	background-image: -ms-linear-gradient(top, #6b25ff, #190370);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6b25ff), color-stop(100%, #190370));
	background-image: -webkit-linear-gradient(top, #6b25ff, #190370);
	background-image: -o-linear-gradient(top, #6b25ff, #190370);
	background-image: linear-gradient(#6b25ff, #190370);
}

.inner-styled-button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	margin: 0 auto;
}
